<div id="app container">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/e-6SrIXDqeY?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ&mute=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <nav class="navbar">
    <img src='../logo.png' ng-click="$ctrl.sharkattack()">
    <div class="col-md-6 col-md-offset-3">
      <search searchhandler="$ctrl.searchhandler" getsuccess="$ctrl.getsuccess"><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player video="$ctrl.video"><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
      <video-list videos= "$ctrl.videos" clickhandler="$ctrl.clickhandler" moreresults="$ctrl.moreresults"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
